*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height:100%;
    width: 100%;
}


:root{
    /*Background-color*/
    --bg-primary-color: #141414;

    /*Text color*/
    --text-primary-color: #e7e7e7;


    /*spacing variables*/
    --space-xs: 4px;
    --space-s: 8px;
    --sapce-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --sapce-3xl: 48px;
}


html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


main, 
section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-s);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}