*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height:100%;
    width: 100%;
}


:root{
    /*Background-color*/
    --bg-primary-color: #141414;

    /*Text color*/
    --text-primary-color: #e7e7e7;


    /*spacing variables*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;


    /*Border colors*/
    --border-primiary-color: #333333;

    /*Border radius*/
    --border-xs: 4px;
    --border-sm: 8px;
    --border-md: 12px;
    --border-lg: 16px;
    --border-xl: 20px;
    --border-2xl: 24px;

}


html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


main, 
section{
    width: 100%;
    height: 100%;
}

section{
    padding: var(--space-2xl);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.info{
    padding: var(--space-sm) var(--sapce-md);
    border: 1px solid var(--border-primiary-color)
}